body,
.iw-content {
	font-family: 'Open Sans', sans-serif;
}

.navmenu-default,
.navbar-default {
	background-color: #fff;
}

/*.navmenu-default .navmenu-nav>li>a {
	font-weight: 600;
}*/

.navmenu-default .navmenu-nav>li>a:hover {
	padding-left: 12px;
	color: #333;
	border-left: 3px solid #fea022;
}

.navbar {
	height: 50px;
}

.navmenu-title,
.navbar-title {
	font-family: 'Passion One', cursive;
	color: #000 !important;
}

.navmenu-title {
	margin-left: 15px;
	font-size: 54px;
}

.navbar-title {
	margin: 8px 0;
	font-size: 32px;
}

.intro {
	font-weight: 600;
}

p {
	margin-left: 15px;
	margin-right: 15px;
	line-height: 22px;
}

hr {
	width: 90%;
}

input {
	margin: 15px;
	padding: 5px;
	outline: none;
	width: 269px;
	height: 35px;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,0.3);
	-webkit-box-shadow: 2px 2px 10px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 10px -5px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 10px -5px rgba(0,0,0,0.75);
}

input:hover {
	-webkit-box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 14px -4px rgba(0,0,0,0.75);

	/*1px 3px 8px -5px rgba(0,0,0,0.75)*/
}

#map {
	/*bottom: 0;*/
	height: 100%;
	width: 100%;
	/*left: 0;*/
	/*position: absolute;*/
	/*right: 0;*/
}

/*
	.bow-shadow and .round-corners are applied to the divs that help make up
	the Google Maps info window. These classes are applied to the elements
	by jQuery when the info window is opened. Box shadow designed with help
	from http://www.cssmatic.com/box-shadow
*/
.box-shadow {
	/*-webkit-box-shadow: 7px 7px 23px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 7px 23px -5px rgba(0,0,0,0.75);
	box-shadow: 7px 7px 23px -5px rgba(0,0,0,0.75);*/

	/*-webkit-box-shadow: 6px 6px 23px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 23px -1px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 23px -1px rgba(0,0,0,0.75);*/

	-webkit-box-shadow: 6px 6px 23px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 23px -2px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 23px -2px rgba(0,0,0,0.75);
}

.round-corners {
	background-color: #fff !important;
	border-radius: 8px !important;
}

/*
	.gm-style-iw is the div that makes up the inner portion of the Google Maps
	info window. It is applied by default.
*/
.gm-style-iw {
	left: 27px !important;
}

/* Info window content */
.iw-content {
	max-height: 400px;
}

.iw-title {
	margin-top: 5px;
	margin-right: 10px;
}

.flickr-image {
	display: none;
}

.wiki-content {
	display: none;
	margin: 10px 0 2px;
	font-size: 16px;
	line-height: 25px;

	/*
		CSS-Tricks (https://css-tricks.com/almanac/properties/h/hyphenate/)
		used as a reference
	*/
	hyphens: auto;
}

/*
	MDN (https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar)
	used as a reference
*/
::-webkit-scrollbar {
	display: none;
}

@media only screen and (min-width: 700px) and (min-height: 500px) {
	.gm-style-iw {
		top: 18px !important;
	}

	.iw-content {
		margin-bottom: 16px;
		overflow-y: scroll;
	}

	.iw-title {
		margin-top: 3px;
	}
}


/*@media only screen and (max-width: 699px), only screen and (max-height: 499px) {
	.gm-style-iw {
		top: 10px !important;

		left: 17px !important;
	}

	.gm-style-iw > div:first-child,
	.gm-style-iw > div:first-child > div:first-child {
		overflow: scroll !important;
	}

	.iw-content {
		margin-bottom: 0;

		margin-right: -20px;
	}
}*/